.best-seller {
        text-align: center;
}
.best-seller h3 {
        font-size: 28px;
        font-weight: 400;
}
.best-seller p {
        font-size: 18px;
        margin-bottom: 23px;
        margin-top: 11px;
        color: var(--texth2-color);
}
.home-blog {
        text-align: center;
        margin: 100px 0;
}
.home-blog h3 {
        font-size: 28px;
        font-weight: 400;
}
.home-blog p {
        font-size: 18px;
        margin-bottom: 23px;
        margin-top: 11px;
        color: var(--texth2-color);
}
.card-home-blog .card-group {
        padding: 150px;
}
