.header{
    background-color: #f7f3f0;
    padding: 0 150px;
}
.navbar {
    margin-bottom: 50px !important;
}
.navbar li{
    padding-left: 20px !important;
}
.navbar-brand {
    margin: 0 !important;
}
.navbar-brand img {
    width: 50%;
}
.nav-link {
    
    font-size: 15px !important;
}
.navbar-nav{
    transform: translateX(-100px);
}
.nav-link:hover {
    color: var(--main-color) !important;
}
.nav-item {
    list-style: none;
}
.nav-link img {
    padding: 0px 0px !important;
    margin: 0 5px;
    width: 40px;
}
