.footer{
    background-color: #f7f3f0;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    padding: 20px 150px;
    font-size: 15px !important;
}
.content{
        color: var(--text-footer-color) !important;
}
.content p{
    margin: 0 !important;
    
}
.content ul{
    padding-left: 0 !important;
}
.content a{
    padding-left: 8px !important;
    color: var(--text-footer-color) !important;
}
.content i{
    font-size: 12px;
}
.content .social a{
    padding-left: 12px !important;
}
.content .day{
    font-weight: 500;
}   