.card {
    margin-top: 10px;
    text-align: center;
    border-radius: 20px !important;
    border: 1px solid var(--border-color) !important;
}
.card-title {
    color: var(--text-color);
    margin: 20px 0 !important;
}
.text-type {
    color: var(--texth2-color) !important;
}
.text-type:hover {
    color: var(--main-color) !important;
}
.text-price {
    color: var(--texth2-color) !important;
}
