.contain-card {
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
}
.card {
        border: none !important;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        position: relative;
}
.card img {
        width: 99%;
}
/* .product-collection-1 {
        position: relative;
} */
.product-collection-1 {
        position: absolute;
}
.pin-1 {
        position: absolute;
        width: 25% !important;
        top: 125%;
        left: 100%;
}
.card-product-collection-1 {
        position: absolute;
        left: 140%;
        top: 150px;
}
.product-collection-1 .card-product-collection-1 img {
        width: 50%;
        margin: 0 auto;
        padding-top: 10px;
}

.pin-2 {
        position: absolute;
        width: 8% !important;
        top: 48%;
        left: 45%;
}
.pin-3 {
        position: absolute;
        width: 8% !important;
        top: 12%;
        left: 25%;
}
.pin-4 {
        position: absolute;
        width: 8% !important;
        top: 48%;
        left: 45%;
}
